{% extends "base.html" %}

{% block head %}
  {{ super() }}

  <script type="application/ld+json">   {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Patrik Drbal",
    "alumniOf": "Faculty of Information Technology, Czech Technical University in Prague",
    "jobTitle": "Software Developer & Analyst, Researcher",
    "url": "https://pdddd.one",
    "sameAs": [
        "https://github.com/whaypr",
        "https://linkedin.com/in/patrik-drbal",
        "https://www.facebook.com/patrik.drbal",
        "https://www.instagram.com/drbalpat"
    ]
    }
    </script>
{% endblock head %}

{% macro home_page(section) %}
    <main>
        <article>
            <section class="body">
                <center>{{ post_macros::page_header(title=section.title) }}</center>
                {{ section.content | safe }}
            </section>
        </article>
    </main>
{% endmacro home_page %}

{% block main_content %}
    {{ self::home_page(section=section) }}
{% endblock main_content %}